body{
	width: 85%;
	margin: auto;
}

* {
	/* 기본값 설정 */
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
	font-family: "Noto Sans KR", sans-serif; /* 구글 폰트 사용 */
}

h1 {
	display: inline;
}
.mapTitle {
	padding: 30px;
}
.mapTitle > h1 > a{
	cursor: pointer;
}

.map_wrap, .map_wrap * {
	margin:0; 
	padding:0;
	font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;
}

.map_wrap {
	position:relative;
	width:100%;
	height:500px;
}

.centerLatlng_title {
	font-weight:bold;
	display:block;
}

#category {
	position:absolute;
	top:10px;
	left:10px;
	border-radius: 5px; 
	border:1px solid #909090;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	background: #fff;
	overflow: hidden;
	z-index: 2;
}

#category li {
	float:left;
	list-style: none;
	width:50px;
	border-right:1px solid #acacac;
	padding:6px 0;
	text-align: center; 
	cursor: pointer;
}

#category li.on {
	background: #eee;
}
#cat
egory li:hover {
	background: #ffe6e6;
	border-left:1px solid #acacac;
	margin-left: -1px;
}

#category li:last-child{
	margin-right:0;
	border-right:0;
}

#category li span {
	display: block;
	margin:0 auto 3px;
	width:27px;
	height: 28px;
}

#category li .category_bg_food {
    background:url('https://img.icons8.com/external-soft-fill-juicy-fish/344/external-restaurant-location-pins-soft-fill-soft-fill-juicy-fish.png') no-repeat;
    background-size: contain;
}

#category li .category_bg_cafe {
    background:url('https://img.icons8.com/external-soft-fill-juicy-fish/344/external-cafe-location-pins-soft-fill-soft-fill-juicy-fish.png') no-repeat;
    background-size: contain;
}

#category li .category_bg_subway {
    background:url('https://img.icons8.com/external-soft-fill-juicy-fish/60/000000/external-caravan-location-pins-soft-fill-soft-fill-juicy-fish.png') no-repeat;
    background-size: contain;
}

#category li .category_bg_attraction {
    background:url('https://img.icons8.com/external-soft-fill-juicy-fish/344/external-like-location-pins-soft-fill-soft-fill-juicy-fish.png') no-repeat;
    background-size: contain;
}

.placeinfo_wrap {
	position:absolute;
	bottom:28px;
	left:-150px;
	width:300px;
}

.placeinfo {
	position:relative;
	width:100%;
	border-radius:6px;
	border: 1px solid #ccc;
	border-bottom:2px solid #ddd;
	padding-bottom: 10px;
	background: #fff;
}

.placeinfo:nth-of-type(n) {
	border:0; 
	box-shadow:0px 1px 2px #888;
}

.placeinfo_wrap .after {
	content:'';position:relative;
	margin-left:-12px;
	left:50%;
	width:22px;
	height:12px;
	background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo a, .placeinfo a:hover, .placeinfo a:active{
	color:#fff;
	text-decoration: none;
}

.placeinfo a, .placeinfo span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.placeinfo span {
	margin:5px 5px 0 5px;
	cursor: default;
	font-size:13px;
}

.placeinfo .title {
	font-weight: bold; 
	font-size:14px;
	border-radius: 6px 6px 0 0;
	margin: -1px -1px 0 -1px;
	padding:10px; 
	color: #fff;
	background: #d95050;
	background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.placeinfo .tel {
	color:#0f7833;
}

.placeinfo .jibun {
	color:#999;
	font-size:11px;
	margin-top:0;
}

/*--------------------------------주소정보----------------------------------*/
.address_parent{
	height: 100%;
	border-radius: 10px;
	background-color: rgb(240, 240, 240);
}

.bAddr{
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.centerLatlng_title {
	font-weight:bold;
	font-size: large;
	text-align: center;
	display:block;
}

.info{
	margin-bottom: 10px;
	color: #8a8a8a;
	text-align: center;
}

.jibun_address,
.doro_address{
	font-weight: bold;
}

/*------------------------------카카오톡 공유---------------------------------*/
.share_wrap{
	margin: 30px;
}

.share{
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#create-kakao-link-btn{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*-------------------------다시하기 버튼------------------------*/

.gobackHome_btn_wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 50px;
}

.gobackHome_btn {
	width: 140px;
	height: 45px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: rgb(240, 240, 240);
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.gobackHome_btn:hover {
	background-color: rgb(177, 215, 255);
	box-shadow: 0px 15px 20px rgba(46, 162, 229, 0.4);
	color: #fff;
	transform: translateY(-7px);
}