<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>카테고리별 장소 검색하기</title>
	<link rel="stylesheet" href="../static/css/center.css">

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

</head>
<body>
    <div class="map_wrap">
        <div id="map" style="width:100%;height:500px;position:relative;overflow:hidden;"></div>
        <ul id="category">
            <li id="FD6" data-order="0"> 
                <span class="category_bg_food"></span>
                음식점
            </li>       
            <li id="CE7" data-order="1"> 
                <span class="category_bg_cafe"></span>
                카페
            </li>  
            <li id="SW8" data-order="2"> 
                <span class="category_bg_subway"></span>
                지하철역
            </li>  
            <li id="AT4" data-order="3"> 
                <span class="category_bg_attraction"></span>
                관광지
            </li>  
        </ul>
		<div>
			<h6>카카오톡으로 공유하기</h6> <!--카카오톡으로 공유-->
			<a id="create-kakao-link-btn" href="javascript:kakaoLink()">
				<img
				src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"
				alt="카카오링크 보내기 버튼"
				/>
			</a>
		</div>
		<div> 
			<button onclick="gobackHome()">다시하기</button> <!--홈으로 이동-->
		</div>
		<div id="centerLatlng"></div>
		<h5>안내: 중간 지점에 건물이 없는 경우 도로명주소가 없어서 지번주소만 표시됩니다.</h5>
	</div>
    </div>
	
		

		<script
			type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0c9d924e8ab589125cdf04e2f6bcf298&libraries=services"
		></script>
		<script
			type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0c9d924e8ab589125cdf04e2f6bcf298"
		></script>
		<script type="text/javascript" src="../static/js/center.js"></script>
		<script type="text/javascript" src="../static/js/kakaotalk.js"></script>
		
	</body>
</html>
