<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="../static/css/map.css?after">
    <title>Document</title>
</head>
<body>
    <div class = "mapTitle">
        <h1>중간 지점 찾기</h1>
    </div>
   
    <!-- 지도 생성 -->
    <span>
        <div id="map" style="top : 30px; width:65%; height:80vh; left : 130px; "></div>
        <div>
            <div id="menu_wrap" class="bg_white">
                <div class="option">
                    <div>
                        <form onsubmit="searchPlaces(); return false;">
                           <h2> 키워드 : <input type="text" value="" id="keyword" size="20"> </h3>
                            <button class="btn_1" type="submit">검색하기</button> 
                        </form>
                    </div>
                </div>
                <hr>
                <ul id="placesList"></ul>
                <div id="pagination"></div>
            </div>
        </div>
    </span>
    <div class = "grand_parent">
        <div class = "parent">
            <div class = "child">
                <ul>
                    <li id = "user1"></li>
                    <li id = "user2"></li>
                    <li id = "user3"></li>
                    <li id = "user4"></li>
                    <li id = "user5"></li>
                    <li id = "user6"></li>
                </ul>
            </div>
    
        </div>
    
    </div>
    <span id="display" style="display: none;">0</span>

    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0c9d924e8ab589125cdf04e2f6bcf298&libraries=services"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0c9d924e8ab589125cdf04e2f6bcf298"></script>
	<script type="text/javascript" src="../static/js/getmap.js"></script>
</body>
</html>